.user-modal {
  width: 300px;
  background: transparent;
  border: none;
  text-align: center;
}

.user-modal:first-child {
  background: transparent;
  border: none;

  .card {
    height: 500px;
    width: 300px;
  }
}

