.modal-dialog {
  width: 400px;
  background: transparent;
  border: none;
  text-align: center;
}

.modal-content {
  background: transparent;
  border: none;

  .card {
    height: 600px;
    width: 400px;
  }
}


