.div {
  margin: auto;
  max-width: 50%;
  padding: 1%;
  text-align: center;
  button {
    min-width: 100px;
  }
}

.sexe {
}

.affinity {
}

.interests {
  button {
    min-width: 70px;
  }
}

h4 {
  text-align: center;
}

.modalLocalization {
  .modal-content {
    width: 60vw;
    height: 65vw;
  }
}
