.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 3em;
    font-weight: bold;
  }

  h2 {
    font-size: 2em;
    font-weight: bold;
  }
}

