.master-root {
  margin: 20px auto;
  position: relative;
  height: 600px;
  width: 400px;
  overflow: hidden;
  //border: 1px solid black
}

.cardSwipe {
  height: 400px;
  width: 200px;
  position: absolute;
  transition: box-shadow .3s;
  visibility: hidden;
}

.animate {
  transition: transform .3s;
  box-shadow: none;
}

.card {
  height: 400px;
  width: 200px ;
}

.inactive {
  visibility: visible;
  box-shadow: none;
}

.alert {
  width: 160px;
  position: absolute;
  z-index: 9999;
  visibility: hidden;
  transition: opacity .5s;
  vertical-align: middle;
  margin-top: 30%;
  border-radius: 100%;
}

.alert-visible {
  //opacity: 1;
  visibility: visible;
}

.alert-right {
  top: 0;
  right: 0;
  //background: #52cb94;
  //border-top-left-radius: 50px;
  //border-bottom-left-radius: 50px;
}

.alert-left {
  top: 0;
  left: 0;
  //background: #fa516d;
  //border-top-right-radius: 50px;
  //border-bottom-right-radius: 50px;
}

.alert-bottom {
  //bottom: 0;
  //background: #44a5fc;
  //border-top-left-radius: 50px;
  //border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
}
