.master-root {
  margin: auto;
  position: relative;
  height: 500px;
  width: 300px;
  overflow: hidden;
  //border-top: none;
  //border-right: 1px solid #52cb94;
  //border-left: 1px solid #fa516d;
  //border-bottom: 1px solid #44a5fc;
}

.cardSwipe {
  height: 400px;
  width: 200px;
  position: absolute;
  transition: box-shadow .3s;
  visibility: hidden;
}

.animate {
  transition: transform .3s;
  box-shadow: none;
}

.inactive {
  visibility: visible;
  box-shadow: none;
}

.alert-visible {
  visibility: visible !important;
  transition: opacity 1s;
}

.alert-right {
  position: absolute;
  width: 160px;
  z-index: 9999;
  visibility: hidden;
  top: 0;
  right: 0;
  margin-top: 30%;
}

.alert-left {
  position: absolute;
  width: 160px;
  z-index: 9999;
  visibility: hidden;
  top: 0;
  left: 0;
  margin-top: 30%;
}

.alert-top {
  position: absolute;
  width: 160px;
  z-index: 9999;
  visibility: hidden;
  transform: translate(-50%, 0);
  margin-left: 50%;
  margin-top: 30%;
}
