$react: #61dafb;

html {
  height: 100%;
}

header {
  width: 100%;
  padding: 2%;
  background: white;
  color: white;
  .logo {
    position: absolute;
    animation: header-logo-spin infinite 20s linear;
    margin-left: 45%;
    max-width: 60px;
  }

}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); }
}

body {
  min-height: 100%;
  margin-bottom: 60px;
}

footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.container {
  padding: 1%;
}
