$react: #61dafb;

html {
  height: 100%;
}

header {
  padding: 0.5%;
  background: white;
  color: salmon;
  .logo {
    margin: auto;
    animation: header-logo-spin infinite 30s linear;
    max-width: 50px;
  }

}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); }
}

body {
  min-height: 100%;
  margin-bottom: 60px;
}

footer {
  position: absolute;
  width: 100%;
  //height: 60px;
  line-height: 60px;
}

.container {
  padding: 1%;
}

.app-content {
  min-height: 100%;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
}

.title-transition {
  color: linear-gradient(180deg,#425f6b,#1b272c);
}
