$react: #61dafb;

header {
  padding: 1em;
  background: #14161A;
  color: white;
  .logo {
    animation: header-logo-spin infinite 20s linear;
    margin: auto;
    max-width: 100px;
  }

}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); }
}

.app-content {
  margin: 2%;
}

footer {
  width: 100%;
  margin: auto;
  padding: 1em;
  text-align: center;
}
